.list {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 1em;
}

.link {
    color: #a90f0f;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: #d90f0f;
}